@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Poppins:wght@200&display=swap');
body{
/* background-image: url("https://i.ytimg.com/vi/3Ld05Om2UWs/maxresdefault.jpg");
background-size: auto;
background-repeat: no-repeat;
/* z-index: 0; */
background-color:aliceblue;
}
:root{
    --color:aqua;
    --c2:crimson;
    --c3:yellow;
    --c4:rgb(139, 241, 80);
    --c5:rgb(160, 35, 222);
    --c6:rgb(233, 79, 159);
    --leftpad:420px;

}


ul{
    list-style: none;
    display: flex;
}
*{
margin: 0;padding: 0;
}

img{
    padding: 2px;
    margin: 5px;
    
}

li{ 
    color: white;
    padding: 2px;
    margin-top: 26px;
    margin-right: 14px;
}

.ss{
    margin-left:   40px;
    font-weight: 800;
}

.dd{
    border: 4px solid black;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky; 
    
}

.mm{
    height: 900px;
    width: 700px;
}

img{
    margin-left: -2px;
    margin-top:0px; }

    
    img.sd{
        padding-left: var(--leftpad);
        padding-right: 30px;
    }

    img.se{
        padding: 1px;
        margin-left:30px;
        margin-top: 5px;
        /* margin-left: 120px; */}

        ul li a.ab{
            color: white;
            text-decoration: none;
        }

        ul li a.aa{
            color: white;
            text-decoration: none;
            
        }